@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

/* NAVIGATION */
body {
    background-color: #f2f2f2;
}

.navbar img {
    height: 40px;
}



.navbar-toggler {
    color: black !important;
}

/* landing */
.landing {
    text-align: center;
}

.landing-teks {
    margin-top: 50px;
}

.landing img {
    width: 100%;
}

.landing h3 {
    line-height: 55px;
    font-size: 40px;
    margin-top: 10px;
    font-weight: 700;
    color: rgb(0, 0, 0) !important;
}

.landing h3 span {
    /* font-weight: 600; */
    text-decoration: underline;
    text-decoration-color: #E18728;
}



@media (min-width: 992px) {

    .navbar a {
        display: block;
        font-family: Poppins-Bold;
        font-size: 20px;
        color: #333333;
        line-height: 1.2;
    }

    .navbar img {
        margin-top: -8px;
    }


    /* landing */
    .landing {
        text-align: left;
        min-height: 410px;
    }

    .landing img {
        margin-left: 10px;
        margin-top: -60px;
    }

    .landing h3,
    .landing p,
    .landing a {
        margin-left: 50px;
    }

}
